@page
@model sem1.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <div class="Newccenter-div">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Length)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Length)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Width)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Width)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Height)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Height)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Description)
            </dd>
            <dt class="col-sm-2">
                Product&nbsp;Vendor
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Vendor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Price)
            </dd>
        </dl>
    </div>
</div>
<hr />
<h4>Item in Warehoues</h4>
<div style="padding-left:430px;">
    <dl class="row">
        <dt class="col-sm-2">
            Warehouse&nbsp;Name&nbsp;&nbsp;
        </dt>
        <dt class="col-sm-10">
            Item&nbsp;Count
        </dt>
        <dt class="col-sm-2">
            &nbsp;
        </dt>
        <dt class="col-sm-10">
        </dt>
        @{
            //int count = 0;
            foreach (var item in Model.Ware)
            {
                <dd class="col-sm-2">
                    @item.Name
                </dd>
                <dd class="col-sm-10">
                    @Model.Items.Where(m => m.WarehouseId == item.Id).Count()
                </dd>

            }
        }


    </dl>

</div>

<style>
    .Newccenter-div {
        padding-left: 430px;
        /*padding-right:100px;*/
    }

    .row {
        text-align: left;
    }

    .col-sm-10 {
        padding-left: 80px;
    }
</style>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
