@page
@model sem1.Pages.Warehouses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Warehouse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Warehouse.Id" />
            <div class="form-group">
                <label asp-for="Warehouse.Name" class="control-label"></label>
                <input asp-for="Warehouse.Name" class="form-control" />
                <span asp-validation-for="Warehouse.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warehouse.Volume" class="control-label"></label>
                <input asp-for="Warehouse.Volume" class="form-control" />
                <span asp-validation-for="Warehouse.Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />
@if (Model.Warehouse != null)
{
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Warehouse.Id" />
            <div class="form-group">
                <table class="table" width="100%">
                    <thead>
                        <tr>
                            <th>
                                <h3> All Products:</h3>
                            </th>
                            <th>
                                <h3>Items In Warehouse:</h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @foreach (var pds in Model.AllProducts)
                                {
                                    <input type="submit" asp-route-PID="@pds.Id" asp-route-WID="@Model.Warehouse.Id" asp-route-TaskOf="AddProduct" value="C @pds.Id @pds.Name [✓]" class="form-control" />
                                }
                            </td>
                            <td>
                                @foreach (var itw in Model.ItemsInWareHouse)
                                {
                                    <input type="submit" asp-route-User="@itw.Id" asp-route-IID="@itw.Id" asp-route-WID="@Model.Warehouse.Id" asp-route-TaskOf="RemoveItem" value="C @Model.AllProducts.FirstOrDefault(m => m.Id == itw.ProductId).Id  @Model.AllProducts.FirstOrDefault(m => m.Id == itw.ProductId).Name [✘]" class="form-control" />
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
}
<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
